.Rh img{
    position: fixed;
    top: 0px;
    right: 890px;
    width: 934.5px;
    height: 897.5px;
    z-index: 1000;
}

.Textos_RH{
    position: absolute;
    left: 700px;
    bottom: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:  100%;
}

.Pai{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 900px;

}

.Titulo{
    left: 90px;    
    color: #ED1C24;
    font-family: Assistant;
    font-size: 83.494px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Sub-Titulo{
    color: #000;
    font-family: Inter;
    font-size: 58.731px;
    font-style: arial;
    font-weight: 400;
    line-height: normal;
}

.Prazo{
    color: #000;
    font-family: "Anek Malayalam";
    font-size: 29.973px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Paragrafo{
    color: #000;
    font-family: "Anek Malayalam";
    font-size: 34.342px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.retangulo-vermelho{
    width: 1500px;
    padding: 10px;
    background-color: red;
}

.retangulo-vermelho p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Anek Malayalam";
    font-size: 30.526px;
}

.Logos{

}




